footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
    background-color: #fafafe;
}
.category-titles {
    padding: 10px 20px;
    font-size: 18px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}



.category-items {
    margin-bottom: 5px;
}
