{% extends "base.html" %}
{% block content %}
<form onsubmit="return sendMail(this);">
    <input type="text" name="Name" class="form-control" id="name" placeholder="Name" required/>
    <textarea rows="5" name="Message" class="form-control" id="message" placeholder="Message" required></textarea>
    <button type="submit" class="btn btn-secondary center-block">Send</button>
  </form>
<script>
    let sendMail = (contactForm) =>{
    emailjs.send("service_nmhk4y9","template_nzgxl0j",{
    from_name: contactForm.Name.value,
    to_name: "Brian",
    message: contactForm.message.value,
});}
</script>
{% endblock %}