{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Edit Reservation:</h2>
    <form method="post" action="{% url 'edit_reservation' %}">
        {% csrf_token %}
        <label for="year">Year:</label>
        <select name="year" id="year" required>
            <option value="{{ current_year }}" id="current_year">{{ current_year }}</option>
            {% for i in "123" %}
                <option value="{{ current_year|add:forloop.counter }}">{{ current_year|add:forloop.counter }}</option>
            {% endfor %}
        </select><br>

        <div id="current_month_container">
            <label for="current_month">Month:</label>
            <select name="current_month" class="month" required>
                <option value="">Select month</option>
                {% for month in current_month_range %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div id="month_container" style="display: none;">
            <label for="month">Month:</label>
            <select name="month" class="month" required>
                <option value="">Select month</option>
                {% for month in month_range %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select><br>
        </div>

        <label for="day">Date:</label>
        <select name="day" id="day" required>
            <option value="">Select day</option>
        </select><br>

        <label for="time">Time:</label>
        <select name="time" id="time" required>
            <option value="">Select a time</option>
            {% for hour in time_range %}
                <option value="{{ hour }}:00">{{ hour }}:00</option>
                <option value="{{ hour }}:30">{{ hour }}:30</option>
            {% endfor %}
        </select><br>
        <button type="submit" name="edit_reservation">Edit Reservation</button>
    </form>
{%if reserved%}
<div class="alert alert-success" role="alert">
    Your reservation has been updated
</div>
{%endif%}
{%if booked%}
<div class="alert alert-danger" role="alert">
    Sorry this time is fully booked out
</div>
{%endif%}
{% endif %}
{% endblock %}
