{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for menu in menu_list %}
                <h1 class="text-center">{{ menu.title }}</h1>
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search menu">
                <p>{{ menu.content }}</p>
                <div class="button-container">
                    {% for category in menu.category_set.all %}
                        <button class="category-titles btn btn-primary" category="{{category}}">{{ category.title }}</button>
                    {% endfor %}
                </div>
                <div class="item-container mt-3">
                    {% for category in menu.category_set.all %}
                        {% for item in category.item_set.all %}
                            <div class="category-items items card mb-3" style="display: none;" category="{{category}}" name="{{item.name}}">
                                <div class="card-body">
                                    <h6 class="item item-name card-title">{{ item.name }}</h6>
                                    <p class="item item-description card-text">{{ item.description }}</p>
                                    <p class="item item-price card-text">Price: ${{ item.price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  $('#searchInput').on('input', function() {
    var searchTerm = $(this).val().toLowerCase();
    $('.category-items.items').each(function() {
      let itemName = $(this).find('.item:first-child').text().toLowerCase();
      let itemMatches = itemName.indexOf(searchTerm) > -1;
      $(this).toggle(searchTerm === '' ? false : itemMatches);
    });
  });
});
</script>
{%endblock%}